.form-control {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.form-control h2 {
    font-family: cursive;
    margin-bottom: 3rem;
    text-decoration: underline;
    text-underline-offset: 15px;
}
.form-control label {
    font-size: large;
    margin: 1rem 1rem;
}

.form-control input {
    display: block;
    width: 100%;
    margin: 1rem;
    padding: 6px;
}