/* Header.module.css */
header {
  position: fixed;
  width: 100%;
  background-color: #131313;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li a {
  color: whitesmoke;
  font-size: large;
  margin: 0 20px;
  text-transform: uppercase;
  text-decoration: none;
}
li a:hover {
  color: dodgerblue;
}

li.active a {
  color: dodgerblue;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  margin: auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
  height: 15rem;
  background-color: slategray;
}
