* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}


body {
  margin: 0;
  /* background-color: #0C2340; */
  /* background-color: rgb(40, 45, 66); */
  background-color: rgb(34, 37, 48);
  color: whitesmoke;
}

