* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}


body {
  margin: 0;
  background-color:#1e2b3f;
  color: snow;
}

