* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}


body {
  margin: 0;
  /* background-color: #0C2340; */
  /* background-color: gainsboro; */
  background-color: gainsboro;
  /* color: whitesmoke; */
}

